<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Damion" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>

   </head>

<body>
    <div class="overlay">
        <div id="wrapper">
            <div id="page-cover">
                <div class="title-section">
                    <h2><i class="em em-woman-bowing"></i> Thanks for visiting and leave feedbacks.
                  </h2>
                </div>


                <form accept-charset="UTF-8" action="https://usebasin.com/f/33937b029517" enctype="multipart/form-data" method="POST">
    <label for="email-address">Email Address</label>
    <input type="email" id=“email" name=“email" required>

    <textarea rows="4" cols="50" name="comment" required>
    </textarea>

    <button type="submit">Submit</button>
  </form>

                  <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">

                              <dl class="faq">

                                <dt>Your feedbacks are important?</dt>
                                <dd>Yes, <i class="em em-100"></i>.
                                   Because I could reflect myself and would help impove me to become a good co-work, friend and good person in social.
                                   Feedback also is valuable information that will be help me decisions.</dd>
                                   <div style="width:50%;height:200px;padding-bottom:0%;position:relative;">
                                     <iframe src="https://giphy.com/embed/tN1lvnT4M6nte" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                                   </div>
                              </dl>

                    </div>
                      <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            		<dl class="faq">

                            			<dt><i class="em em-heart"></i> or <i class="em em--1"></i> </dt>
                            			<dd>Sometime, I became a b*tch without reasons or a good friend to people.
                                    Also working my job with mood that aren't turn out to be good. <i class="em em-blush"></i> </dd>
                                  <div style="width:50%;height:200px;padding-bottom:0%;position:relative;">
                                    <iframe src="https://giphy.com/embed/l3Ucl5pIqSaGa82T6" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed"
                                     allowFullScreen></iframe></div>

                            		</dl>

                            	</div>


                  </div>
                <!-- <div class="countdown-timer">
                    <div class="container"> <button class="btn btn-outline-secondary d-none d-sm-block btn-default btn-lg btn-danger btn-outline-light btn-block">SEND</button> </div>
                    <div id="clockdiv">
                        <div> <span class="days">14</span>
                            <div class="smalltext">Days</div>
                        </div>
                        <div> <span class="hours">23</span>
                            <div class="smalltext">Hours</div>
                        </div>
                        <div> <span class="minutes">54</span>
                            <div class="smalltext">Minutes</div>
                        </div>
                        <div> <span class="seconds">38</span>
                            <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                </div> -->
                <div id="footer">
                    <div class="container"> <address> Connect me here:  <address>
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link" href="https://facebook.com/danikbi"><i class="fa fa-facebook fa-lg"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://twitter.com/ShiroNik"><i class="fa fa-twitter fa-lg"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://instagram.com/danikbi/"><i class="fa fa-instagram fa-lg"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://www.linkedin.com/in/sattdanik/"><i class="fa fa-linkedin fa-lg"></i></a> </li>
                        </ul>
                        <div class="made-with-love">
                              Made with
                              <i>♥</i> by
                              <a target="_blank" href="">Dani</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <!-- <script src="assets/js/index.js"></script> -->
</body>

</html>
