<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Damion" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>

   </head>

<body>
    <div class="overlay">
        <div id="wrapper">
            <div id="page-cover">
            <div class="text">
                    <h2><i class="em em-woman-bowing"></i> Thank You For Submitting Your Thoughts.</h2>
            </div>


                <div id="footer">
                    <div class="container"> <address> Connect me here:  <address>
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link" href="https://facebook.com/danikbi"><i class="fa fa-facebook fa-lg"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://twitter.com/ShiroNik"><i class="fa fa-twitter fa-lg"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://instagram.com/danikbi/"><i class="fa fa-instagram fa-lg"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://www.linkedin.com/in/sattdanik/"><i class="fa fa-linkedin fa-lg"></i></a> </li>
                        </ul>
                        <div class="made-with-love">
                              Made with
                              <i>♥</i> by
                              <a target="_blank" href="">Dani</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="//load.sheetsu.com"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <!-- <script src="assets/js/index.js"></script> -->
</body>

</html>
