html,
/* body {
  height: 100%;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
}
 */

body{
margin:0;
padding:0;
color: #fff;
text-align: center;
/* background: url(https://images.unsplash.com/photo-1507761161372-1cc071ba4cec?ixlib=rb-0.3.5&s=8a66bfa089bcf61e03df3f973dd373df&auto=format&fit=crop&w=1951&q=80) repeat center center fixed; */
background: url(https://images.unsplash.com/photo-1482862549707-f63cb32c5fd9?ixlib=rb-0.3.5&s=b3e686e0a5d15ee1d98c2b5a594f48e1&auto=format&fit=crop&w=2689&q=80) repeat center center fixed;

-webkit-background-size: cover;
/* -moz-background-size: cover; */
-moz-osx-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
-moz-osx-font-smoothing: grayscale;
/* box-shadow: inset 0 0 100px rgba(0,0,0,0.5); */
position: relative;
height:100%;
width:100%;
}

/* .overlay{
background-color: rgba(0, 0, 0, 0.6);
background-size: cover;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
} */

/* #wrapper{
	position: relative;
	width: 100%;
	margin: auto;
} */

#page-cover{
	width: 100%;
	padding: 20px 50px 50px 20px;
	margin: auto;
  position: center;
  text-align: center;
}

h1{
	font-family: 'Damion', cursive;
	font-size: 103px;
}

h2{
  padding: 5px 5px 15px 5px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	letter-spacing: 4px;

}

h2 strong.sep-one{
	width: 60px;
	height: 1px;
	background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
	position: absolute;
	margin-left: -80px;
	margin-top: 15px;
}

h2 strong.sep-two{
	width: 60px;
	height: 1px;
	background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

#footer{
    text-align: center;
    bottom: 20px;
    background:transparent;
	  width: 100%;
    margin: auto;
}

#footer a{
  cursor:pointer;
  color:#fafafa;
}
#footer a:hover{
  color:#c2185b;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  GRADIENT BUTTONS
************************/
.btn-primary.gradient {
     /* FF3.6+ */
 background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
   background: linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);/* FF3.6+ */
     /* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+
    background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+
    background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+
    background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:active, .btn-primary.gradient.active {
  background:linear-gradient(135deg, #65799b 0%,#5e2563 100%); /* FF3.6+ */
  /* IE6-9 */
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


.faq{
  text-align: center;
  margin-top: 20px;
}


.faq dt {
  font-family: bold 'Josefin Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px 0 10px 0;
}

.faq dt:before {
  left: 0;
  top: 0;
  font: bold 50px/1 Sans-Serif;
}

.faq dd {
  margin: 0 0 20px 0;
}



.paper {

    position: relative;
    width: 90%;
    max-width: 800px;
    min-width: 400px;
    height: 280px;
    margin: 0 auto;
    background-color: white;
    /* background:linear-gradient(135deg, #E3E3E3 0%,#c1c3c7 100%); */
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
    overflow: hidden;
    margin-bottom: 20px;
}
.paper:before {
  opacity: 0.6;
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 30px;
    background: radial-gradient(#3425AF 6px, transparent 7px) repeat-y;
    background-size: 30px 30px;
    border-right: 3px solid #65799b;
    box-sizing: border-box;
}

.paper-content {
    position: absolute;
    top: 30px; right: 0; bottom: 30px; left: 60px;
    /* background:linear-gradient(135deg, #65799b 0%,#5e2563 100%); */
    background: linear-gradient(transparent, transparent 28px, #5e2563 28px);
    background-size: 30px 30px;
}

.paper-content textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    color: #622774;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    z-index: 1;
}

/* follow me template */
.made-with-love {
  padding: 5px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 568px){
	#header{
		width: 100%;
		padding: 120px 0 120px 0;
		margin: auto;
	}


	h1{
		font-size: 53px;
	}

	h2{

		font-size: 30px;
		letter-spacing: 2px;
	}

	h2 strong.sep-one{
		width: 30px;
		margin-left: -40px;
		margin-top: 7px;
	}

	h2 strong.sep-two{
		width: 30px;
		margin-left: 10px;
		margin-top: 7px;
	}

	#middle{
		margin: 50px 0 20px 0;
		width: 90%;
		padding: 5%;
	}

	#middle p{
		font-size: 18px;
		color: #000000;
		line-height: 24px;
		padding: 0;
	}

	#middle p span{
		color:#e63b4d;
	}
    #clockdiv{
       margin-top:10px;
       font-size: 23px;
    }
  	#clockdiv > div{
		padding: 5px;
	}
	#clockdiv div > span{
		padding: 10px;
	}


  .paper {

      position: relative;
      width: 90%;
      max-width: 300px;
      min-width: 150px;
      height: 300px;
      margin: 0 auto;
      background-color: white;
      /* background:linear-gradient(135deg, #E3E3E3 0%,#c1c3c7 100%); */
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,.3);
      overflow: hidden;
      margin-bottom: 20px;
  }
  .paper:before {
    opacity: 0.6;
      content: '';
      position: absolute;
      top: 0; bottom: 0; left: 0;
      width: 30px;
      background: radial-gradient(#3425AF 6px, transparent 7px) repeat-y;
      background-size: 30px 30px;
      border-right: 3px solid #65799b;
      box-sizing: border-box;
  }

  .paper-content {
      position: absolute;
      top: 30px; right: 0; bottom: 30px; left: 30px;
      /* background:linear-gradient(135deg, #65799b 0%,#5e2563 100%); */
      background: linear-gradient(transparent, transparent 28px, #5e2563 28px);
      background-size: 30px 30px;
  }

  .paper-content textarea {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      line-height: 30px;
      padding: 0 10px;
      border: 0;
      outline: 0;
      background: transparent;
      color: #622774;
      letter-spacing: 1px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 18px;
      box-sizing: border-box;
      z-index: 1;
  }


}
